<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>BRL Blackbox</title>
  <link rel="stylesheet" href="public/css/blackbox.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
  <script src="public/script.js"></script>

</head>

<body>

  <!-- Below script is for displaying any message if present -->
  <% if (message !="None" ) { %>
    <script defer>
      alert("<%- message %>");
    </script>
    <% } %>

      <!-- Below script is for redirecting if any redirect if present -->
      <% if (redirect !=false ) { %>
        <script defer>
          window.location.replace("<%- redirectUrl %>");
        </script>
        <% } %>

          <div id="logdiv">
            <ul id="logul">
              <li class="logli"><a href="/logout" class="ali">Logout</a></li>
            </ul>
          </div>
          <%- include("./partials/header.ejs"); %>
            <div id="level-head">

              <h1 id="">Level #<%- level %>!</h1>
            </div>
            <script>console.log("<%- level %>")</script>

            <div id="gamediv">
              <div id="outercountdown">
                <div>

                  <div class="count countdown">3 : 0 : 0</div>
                </div>
              </div>
              <div class="blackbox-user-interface">

                <div class="blackbox-input-part">
                  <div class="input-part-inner">


                    <h1>Enter Values</h1>
                    <div class="inputs-list">

                      <% for(let i=1; i<=variableCount ; i++){ %>
                        <label class="input-label" for="num<%- i %>">Number <%- i %>:</label>
                        <input type="number" name="num<%- i %>" class="numbers input-input" id="num<%- i %>">
                        <% } %>
                    </div>
                  </div>

                  <button class="blackbox-btn" onclick="checkExpression()">Check Combination</button>
                </div>
                <div class="blackbox-check-part">
                  <div class="check-part-inner">

                    <label for="submit_expression">Enter your expression here!</label>
                    <input type="text" placeholder="Enter your expression" name="user_expression"
                      id="submit_expression">
                  </div>

                  <button class="blackbox-btn" onclick="submit()">Submit Expression</button>
                </div>
              </div>


      <div class="history-list-container" id="list-container">
        <% if (user.Array.length> 0) { %>
          <ul class="history-list blackboxHistory">
            <% for(let i=(user.Array.length)-1 ; i>=0 ; i--){ %>
              <li class="history-list-item">
                <%= user.Array[i] %>
              </li>
              <% } %>
          </ul>
          <% } %>

              </div>

              <script>
                //clearing input fields
                function clear() {
                  var allInputs = document.getElementsByClassName('numbers');
                  for (let i = 0; i < allInputs.length; i++) {
                    allInputs[i].value = '';
                  }
                }
                //rendering list item
                function renderList(array) {
                  const listContainer = document.getElementById('list-container');
                  console.log(listContainer);
                  const ul = document.createElement('ul');// Adding classlist so that the css apply to the updated hints 

                  ul.classList.add('history-list')
                  ul.classList.add('blackboxHistory')
                  for (let i = array.length - 1; i >= 0; i--) {
                    const li = document.createElement('li');
                    li.textContent = array[i];
                    li.classList.add('history-list-item');
                    ul.appendChild(li);
                    clear();
                  }
                  //clearing listContainer before appending
                  listContainer.innerHTML = '';
                  listContainer.appendChild(ul);
                }
                //update new items
                function updateList(newArray) {
                  renderList(newArray);
                }

                async function checkExpression() {
                  console.log("inside checkExpression()");
                  url = "<% process.env.DEPLOYMENT %>"
                  url = "/black_ques";
                  const inputFields = document.getElementsByClassName("numbers");
                  payload = {};
                  for (let i = 0; i < inputFields.length; i++) {
                    payload[inputFields[i].name] = inputFields[i].value;
                  }
                  await axios.post(url, payload).then((res) => {
                    if (res.data.success == true && res.data.redirect == false) {
                      const data = res.data.attempts;
                      updateList(data);
                    }
                    else if (res.data.success == false && res.data.redirect == false) {
                      alert(res.data.message);
                      clear();
                    }
                    else {
                      alert(res.data.message);
                      window.location.replace(res.data.url);
                    }
                  })
                }

              </script>


              <p> instruction :<br> example input : a+b+c+d , (a*b)+c+d .<br> use a,b,c and d as variable !</p>

              <script>
                async function submit() {
                  console.log("inside submit()");
                  url = "<% process.env.DEPLOYMENT %>"
                  url = "/submit_blackbox";
                  const expression = document.getElementById("submit_expression").value;
                  payload = { "user_expression": `${expression}` };
                  const res = await axios.post(url, payload);
                  if (res.data.success == false && res.data.redirect == false) {
                    alert(res.data.message);
                    document.getElementById("submit_expression").value = ""
                  } else if (res.data.success == true && res.data.redirect == false) {
                    alert(res.data.message);
                    window.location.reload();
                  } else {
                    alert(res.data.message);
                    console.log(res.data.url);
                    window.location.replace(res.data.url);
                  }
                }
              </script>

              <% if (remaining_time !="None" ) { %>
                <script>



                  let timer = document.getElementsByClassName("countdown");
                  for (let i = 0; i <= timer.length - 1; i++) {
                    let time = Math.floor(Number("<%-remaining_time%>") / 1000);
                    setInterval(updatecountdown, 1000);
                    function updatecountdown() {
                      let hours = Math.floor(time / 3600);
                      let minutes = Math.floor((time % 3600) / 60);
                      let seconds = Math.floor(time - 3600 * hours - 60 * minutes);
                      if (time < 0) {

                        timer[i].innerHTML = `00 : 00 : 00`;
                        window.location = "/submit";
                      } else {
                        timer[i].innerHTML = `${hours} : ${minutes} : ${seconds}`;
                      }
                      time--;
                    }
                  }
                </script>
                <% } else { %>
                  <% } %>



</body>

</html>