<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Input Example</title>
    <link rel="stylesheet" href="public/css/forms.css">
  </head>
  <body>
    <li><a href="/game">crypthunt</a></li>
    <li><a href="/blackbox_leaderboard">Blackbox Leaderboard</a></li>
    <li><a href="/leaderboard">Cryphunt Leaderboard</a></li>
    <li> <a href="/final-leaderboard">Overall Leaderboard</a></li>
    <h1>You are on Level <%= level1 %>!</h1>
    <h1>Enter Values</h1>

  
    <div id="gamediv">
      <div id="outercountdown">
          <div>
              <div class="count">TIME LEFT</div>
              <div class="count countdown">3 : 0 : 0</div>
          </div>
      </div>
      
      
    <form action="/black_ques" method="POST">
      <label for="num1">Number 1:</label>
      <input type="number" name="num1" id="num1"><br><br>
      <label for="num2">Number 2:</label>
      <input type="number" name="num2" id="num2"><br><br>
      <label for="num3">Number 3:</label>
      <input type="number" name="num3" id="num3"><br><br>
      <label for="num4">Number 4:</label>
      <input type="number" name="num4" id="num4"><br><br>
      <button  type="submit">check combination</button>     
    </form>

   
    <% if (result!="None") {%>
      <!-- <P> the combination of <%= x %> ,<%= y %> and <%= z %> </p>
      <p> is: <%= result %></p> -->
      <form action="/submit_blackbox" method="post">
        <label for="text">enter your expression</label>
        <input type="text" name="user_expression" id="text"><br><br>
        <button type="submit">submit expression</button>
        <p> instruction :<br> exaple input : a+b+c+d , (a*b)+c+d .<br> use a,b,c and d as variable !</p>
    </form>
    <% } %>
       



    <% if (Array !== "None") { %>
        <% if (Array.length > 0) { %>
          <ul>
            <% Array.forEach(element => { %>
              <li><%= element %></li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>No array elements found.</p>
        <% } %>
      <% } else { %>
      <% } %>

        

    <% if (message != "None") { %>
      <script>alert("<%-message%>")</script>
  <% } else { %>
  <% } %>
  
  <% if (remaining_time != "None") { %>
      <script>
          let timer=document.getElementsByClassName("countdown");
          for(let i=0;i<=timer.length-1;i++)
          {
              let time= Math.floor( Number("<%-remaining_time%>")/1000);
              setInterval(updatecountdown,1000);
              function updatecountdown(){
              let hours=Math.floor(time/3600);
              let minutes=Math.floor((time%3600)/60);
              let seconds=Math.floor(time-3600*hours-60*minutes);
              if(time<0){
                  timer[i].innerHTML = `00 : 00 : 00`;
                  window.location = "/submit";
              } else {
                  timer[i].innerHTML = `${hours} : ${minutes} : ${seconds}`;
              }
              time--;
              }
          }
      </script>
  <% } else { %>
  <% } %> 



  </body>
</html>