<%- include("./partials/header.ejs",{name:'triyon'}); %>
    <!-- Below component to blur background while leaderboard is open -->
    <div id="background-blur-outer">

    </div>
    <div id="blur_crpthuntdiv">

        <div id="gamediv">
            <div id="outercountdown">
                <div class="countdown-timer countdown">00:00:00</div>

                <div id="line" class="window-clock"></div>
                <div id="line2" class="window-clock2"></div>
                <div class="piechart" id="yesme">
                    <div class="dot"></div>
                </div>
            </div>

            <h1 id="rulesheading">Level # <%-level%></h1>
            <div class="main_game_div">

                <div id="gameoutdiv">
                    <div id="" class="ch-game-box">

                        <img src="private/r<%-level%>.png" />
                    </div>
                </div>
                <form method="POST" id="formdiv">
                    <div id="divform">
                        <input class="form-control" type="text" name="answer" placeholder="Answer" id="gameanswer">

                        <div class="">
                            <button class="ch-check-btn" type="submit" formaction="/game">Check</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <% if (message !="None" ) { %>
        <script>alert("<%-message%>")</script>
        <% } else { %>
            <% } %>

                <!-- Below script is for redirecting if any redirect if present -->
                <% if (redirectUrl !="" ) { %>
                    <script defer>
                        window.location.replace("<%- redirectUrl %>");
                    </script>
                    <% } %>

                        <% if (remaining_time !="None" ) { %>
                            <script>


                                let timer = document.getElementsByClassName("countdown");
                                for (let i = 0; i <= timer.length - 1; i++) {
                                    let time = Math.floor(Number("<%-remaining_time%>") / 1000);

                                    setInterval(updatecountdown, 1000);
                                    function updatecountdown() {
                                        let hours = Math.floor(time / 3600);
                                        let minutes = Math.floor((time % 3600) / 60);
                                        let seconds = Math.floor(time - 3600 * hours - 60 * minutes);
                                        if (time < 0) {
                                            timer[i].innerHTML = `00 : 00 : 00`;
                                            alert("Thank you for participating in Blockverse'23! Your active engagement is greatly appreciated")
                                            window.location = "/submit";
                                        } else {
                                            timer[i].innerHTML = `${hours} : ${minutes} : ${seconds}`;
                                        }
                                        time--;
                                        let degs = 450 - time * 3.6 / 108;
                                        document.getElementById("yesme").style.transform =
                                            "rotate(" + (degs - 45) + "deg)";
                                        document.getElementById("line").style.backgroundImage =
                                            "linear-gradient(" +
                                            degs +
                                            "deg, transparent 50%, white 50%),linear-gradient(90deg, white 50%, transparent 50%)";
                                        document.getElementById("line2").style.backgroundImage =
                                            "linear-gradient(" +
                                            (degs - 180) +
                                            "deg, transparent 50%, #EE3FA2 50%),linear-gradient(90deg, white 50%, transparent 50%)";
                                        if (time < 5400) {
                                            document.getElementById("line").style.visibility = "hidden";
                                            document.getElementById("line2").style.visibility = "visible";
                                            document.getElementById("line").style.backgroundImage =
                                                "linear-gradient(0deg, transparent 50%, white 50%),linear-gradient(90deg, white 50%, transparent 50%)";
                                        }
                                    }
                                }
                            </script>
                            <% } else { %>
                                <% } %>
                                    <script>
                                        function createUL(Array) {
                                            div = document.getElementById("hint_id")
                                            div.innerHTML = "";
                                            const ul = document.createElement("ul");
                                            ul.classList.add("hint-list-ul")
                                            if (Array.length == 0) {
                                                const li = document.createElement("div");
                                                li.style.textAlign = "center"
                                                const text = document.createTextNode("No Hints to Show");
                                                li.appendChild(text);
                                                ul.appendChild(li);
                                            }
                                            else {
                                                for (let i = 0; i < Array.length; i++) {
                                                    const li = document.createElement("li");
                                                    li.classList.add("hints-item-li")
                                                    const text = document.createTextNode(Array[i].hint);
                                                    li.appendChild(text);
                                                    ul.appendChild(li);
                                                }
                                            }
                                            div.appendChild(ul);
                                        }

                                        function hintClick() {
                                            document.getElementById("hint_id").style.display = "block";
                                            document.getElementById("hint_id")
                                            payload = { game: "Crypthunt", level: "<%-level%>" }


                                            axios.post("/get_hints", payload).then(res => {
                                                createUL(res.data.result)

                                            })
                                        }
                                    </script>
                                    <%- include("./partials/footer.ejs"); %>