<%- include("./partials/header.ejs"); %>

<div id="gamediv">
    <div id="outercountdown">
        <div>
            <div class="count">TIME LEFT</div>
            <div id="countdown" class="count">3 : 0 : 0</div>
        </div>
    </div>
    <h1 id="rulesheading" style="text-decoration: underline; text-decoration-color: #ee3fa2;">Level # <%-user.level%></h1>
    <div id="smallcount">
        <div id="counter">TIME LEFT : 3 : 0 : 0</div>
    </div>
    <div id="gameoutdiv">
        <div id="gameindiv">
            <img style="" src="private/r<%-user.level%>.png" height="100%" width="100%" />
        </div>
    </div>
    <form action="/game" method="POST" id="formdiv">
        <div id="divform">
            <input class="form-control" type="text" name="answer" placeholder="Answer" id="gameanswer">
            <div id="checkdiv">
                <button class="btn btn-dark lbutton" type="submit">Check</button>
                <form action="/submit" method="POST">
                    <button class="btn btn-success lbutton" type="submit">Submit</button>
                </form>
            </div>
        </div>   
    </form>
</div>
</div>

<% if (message != "None") { %>
    <script>alert("<%-message%>")</script>
<% } else { %>
<% } %>    

<%- include("./partials/footer.ejs"); %>
