<%- include("./partials/header.ejs"); %>
    <!-- Below component to blur background while leaderboard is open -->
    <div id="background-blur-outer">

    </div>

    <h1 id="rulesheading">Hint Manager</h1>
    <div id="rulesdiv">
        <div id="boxdiv">
            <ul id="rulesul">
                <% hints.forEach(element=> { %>
                    <form action="/delete_hint" method="post">
                        <input type="hidden" name="id" value="<%- element.id %>">
                        <li class="rulesli"> <input type="submit" value="X"> | <%- element.game %> | Level # <%-
                                    element.level %> | <%- element.hint %> </li>
                    </form>
                    <hr>
                    <% }) %>

                    <li class="rulesli">
                        <form action="/hints" method="post">
                            <input type="text" name="game" placeholder="Game" style="color: black;">
                            <input type="number" name="level" placeholder="Level" style="color: black;">
                            <input type="text" name="hint" placeholder="Hint" style="color: black;">
                            <input type="submit" value="Post Hint" style="color: black;">
                        </form>
                    </li>
                    
            </ul>
        </div>
    </div>
    </div>

    <%- include("./partials/footer.ejs"); %>