<%- include("./partials/header.ejs"); %>
<div class="leaderboard_heading">
  <h1 id="leaderboard_rulesheading">CRYPTHUNT LEADERBOARD</h1>
  <a href="/original_leaderboard"><button type="button" id="lbutton3" class="original_leaderboard">Original Leaderboard</button></a>
</div>  
  <div id="louter">
    <div id="linner">
      <table id="forwidth" >
        <tr style="background-color: #ee3fa2;">
          <th class="rl font rl-left rl-top">Rank</th>
          <th class="name font rl-top">Name</th>
          <th class="rl font rl-right rl-top">Level</th>
        </tr>
        <% leaderboard.forEach((element, rank) => { %>
          <tr>
            <td class="rl rl-left"><%-element.rank%></td>
            <td class="name"><%-element.name%> <%-element.blocked_message%> </td>
            <td class="rl rl-right"><%-element.level%></td>
          </tr>
        <% }) %>
        <tr>
          <td class="rl rl-left rl-bottom"></td>
          <td class="name rl-bottom"></td>
          <td class="rl rl-right rl-bottom"></td>
        </tr>
      </table>
    </div>
  </div> 

<%- include("./partials/footer.ejs"); %>
